
.progress{
    top: 73%;
position: absolute;
width: 95%;
}
.container{
width: 100%;}

.step-pro-bar{
    margin-top:20%;
    counter-reset:step;
}
.step-pro-bar li{
    list-style:none;
    float:left;
    width:10%;
    position: relative;
    text-align:center;
}
.step-pro-bar li::before{
    content:counter(step); 
    counter-increment: step;
    width:30px;
    line-height:30px;
    border:2px solid #ddd;
    display:block;
    text-align:center;
    margin:0 auto 10px auto;
    border-radius:50%;
    background-color: #fff;
}
.step-pro-bar li::after{
    content:'';
    position: absolute;
    top:15px;
    left:-50%;
    border:2px solid #ddd;
    width:100%;
    z-index:-1;
}
.step-pro-bar li:first-child::after{
    content:none;
}
.step-pro-bar li.active{
    color:chartreuse;
}
.step-pro-bar li.active::before{
    color:chartreuse;
}
.step-pro-bar li.active + li::after{
    color:chartreuse;
}
