/* body{
	padding-left: 100px;
}
#login_details{
	background-color:#DCDCDC;
	width: 737px;
	padding-left: 32px;
	margin-left: 68px;
}
#steps_login{
	padding-left: 100px;
	width:800px;
}
h1,h5{
	padding-left: 100px;
}
#thanks_details{
	background-color:#E8F7FF;
	float:left;
	margin-left: 130px;
	font-size: 11pt;
}
#admin_details{
	float:right;
	background-color:#E8F7FF;
	left: 677px;
	position: absolute;
	height: 151px;
}
h1,h5{
	padding-left: 100px;
}
#tb{
	position: absolute;
	top: 247px;
	margin-left: 150px;
}
#order{
	position: absolute;
	top: 167px;
	margin-left: 150px;
	left: 320px;
}
#dat{
	position: absolute;
	top: 199px;
	margin-left: 373px;
	text-align: center;
}

#cart_details{
	width: 73%;
	height: 100px;
}
#address{
	width: 73%;
	height: 100px;
	position: absolute;
	top: 441px;
	left: 254px;
}
#total{
	position: absolute;
	top: 349px;
	left: 585px;
}
#bill{
	position: absolute;
	top: 400px;
	left: 256px;
	color:#3090C7;
}
#payment{
	position: absolute;
	top: 538px;
	left: 257px;
	color:#3090C7;
} */